#------------------------------------
	# Setup
#------------------------------------

RewriteEngine On
Options +FollowSymLinks -Indexes -MultiViews

# Internet Explorer document mode
Header set X-UA-Compatible "IE=edge"

# Character set
AddDefaultCharset utf-8
AddCharset utf-8 .atom .css .js .json .map .rss .xml


#------------------------------------
	# Rewrites
#------------------------------------

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]

# Remove multiple slashes
RewriteCond %{THE_REQUEST} //
RewriteRule ^(.*)$ /$1 [R=301,L]

# Remove index reference
RewriteCond %{REQUEST_URI} ^/index\.php$ [NC]
RewriteRule . / [R=301,L]

# Send to index.php
RewriteCond %{REQUEST_FILENAME} !\.(gif|jpe?g|png|css|js)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]
