#------------------------------------
	# Project
#------------------------------------

# Ignore config
system/user/config/*
! system/user/config/config.php.sample

# Ignore cache
system/user/cache/*

# Ignore templates
system/user/templates/*

# Ignore content
system/user/content/*

# Ignore globals
system/user/globals/*

# Ignore user TwigFilters, TwigFunction, and TwigTags
system/user/TwigFilters/*
system/user/TwigFunctions/*
system/user/TwigTags/*





#------------------------------------
	# System
#------------------------------------

# htaccess
.htaccess

# Caches
public_html/cache/*





#------------------------------------
	# Tools
#------------------------------------

.bundle
.idea/
.komodotools
.project
.settings/
.tern-project
.tmproj
*.esproj
*.komodoproject
*.sublime-*
browserstack.js
codekit-config.json
mixture.json
prepros.json





#------------------------------------
	# Environment
#------------------------------------

.cache
.DS_Store
.tmp
*.diff
*.err
*.lock
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db





#------------------------------------
	# Gitkeep
#------------------------------------

!.gitkeep
